:root {
    --lightblue: #006cfa;
    --lightgreen: #00e066;
}

[class^="col"] {
    color: white;
    background-color: var(--lightblue);
    border: 2px solid white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px 0;
}

.col-nested {
    background-color: var(--lightgreen);
}

.transparent {
    background-color: transparent;
    color: transparent;
}